@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var loggedIn = User.Identity.IsAuthenticated;    
}

@if(loggedIn)
{
    <li class="nav-item">
        <a class="nav-link text-dark">Welcome @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignOut">Sign Out</a>
    </li>

    @*session based view rendering*@
    if (HttpContextAccessor.HttpContext.Session.GetString("Department") == "IT")
    {
        <span>IT Departments zindaBaad!!!</span>
    }
}
else {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignUp">Sign Up</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="SignIn">Sign In</a>
    </li>
}